.footer{
  background: #14232A;
  &__container{
    max-width: 929px;
    width: 100%;
    padding: 27px 10px;
    margin: 0 auto;
    @include flex (row,center,center);
    @include media-lg-tablet {
      padding: 27px 30px;
    }
  }
}