.header {
  background: #dc513a;
  box-shadow: 0 -15px 12px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  @include media-x-large {
    padding: 0 15px;
}
&__container{
  max-width: 1117px;
  width: 100%;
  margin: 0 auto;
  @include flex (row,space-between,center);
}
&__left, &__right{
  @include flex (row,flex-start,center);
  
}
&-burger, &-search{
  margin-right: 20px;
}
&-logo_small{
  @include media-phone {
    display: none;
  }
}
}

