body {
  color: #484848;
  background: #f0f0f0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  width: 100%;
  margin: 0px;
}

h1, h2, h3 {
  font-weight: 600;
}

.h1, h1 {
  font-size: 26px;
}

.h2, h2 {
  font-size: 24px;
}

.h3, h3 {
  font-size: 22px;
}

p {
  margin: 0 0 11px;
}

a {
  color: #0a78c2;
}

header {
  text-align: center;
  margin-bottom: 10px;
  background: #000000;
  line-height: 1;
  box-shadow: 0 2px 2px #c4c4c4;
  width: 100%;
}

header img {
  margin: 10px 0;
  padding: 0 5px;
  width: 500px;
}


.main-header{
  background: black;
  padding: 16px 0;
}

.mt-2{margin-top: 8px;}
.mb-2{margin-bottom: 8px;}
.mt-4{margin-top: 16px;}
.mb-4{margin-bottom: 16px;}
.mt-5{margin-top: 32px;}
.mb-5{margin-bottom: 32px;}

.pt-2{padding-top: 8px;}
.pb-2{padding-bottom: 8px;}
.pt-4{padding-top: 16px;}
.pb-4{padding-bottom: 16px;}
.pt-5{padding-top: 32px;}
.pb-5{padding-bottom: 32px;}

.heading-border-50{
  width: 50%;
  border-bottom: 2px solid #ffba00;
  margin: 0 auto;
  padding: 8px 0;
}

.heading-border-75{
  width: 65%;
  border-bottom: 2px solid #ffba00;
  margin: 0 auto;
  padding: 8px 0;
}

.container {
  max-width: 960px;
}

.main-content {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 10px;
  background: #fff;
}

.sidebar-right {
  padding: 10px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  background: #fff;
}

hr {
  height: 1px;
  border: 0;
  margin: 0 0 5px;
}

img {
  max-width: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.red {
  color: red;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

strong, .strong {
  font-weight: bolder;
}

.light {
  font-weight: 400;
}

.no-margin {
  margin: 0;
}

.social-icons {
  margin-bottom: 10px;
}

.fact {
  display: table;
  margin: 30px 0;
}

.fact-title, .fact-desc {
  display: inline-block;
  vertical-align: middle;
}

.fact-title {
  width: 10%;
  font-family: 'Lobster', cursive;
}

.fact-desc {
  width: 80%;
  font-size: 20px;
  padding: 0 20px;
}

.fact-desc .small {
  font-size: 14px;
}

.margin-top-15 {
  margin-top: 15px;
}

.bordered {
  text-align: center;
  line-height: 1;
  padding: 4px 0;
  max-width: 500px;
  margin: 0 auto;
}

.comments-container {
  font-size: 11px;
}

.comments-header {
  margin: 20px 0;
}

.comment-body {
  position: relative;
  margin-bottom: 15px;
  border-bottom: 1px solid #dae1e8;
  padding-bottom: 25px;
}

.comment-body .avatar {
  float: left;
  margin-right: 10px;
}

.comment-body .name {
  font-weight: bold;
  font-size: 12px;
}

.comment-body .date {
  position: absolute;
  left: 58px;
}

.comment-body .like {
  position: absolute;
  right: 0;
  bottom: 5px;
  font-weight: bold;
}

.comment-body .text img {
  margin: 10px 0;
}

button {
  padding: 15px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 23px;
  text-shadow: 2px 2px #00000030;
  margin: 20px 0 10px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar-right button {
  padding: 8px 20px;
}

.product-bottom {
  max-height: 197px;
}

#overlay {
  display: none;
}

.exit-coupon {
  position: fixed;
  background: rgba(0, 0, 0, 0.50);
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.exit-coupon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.age-pop {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.50);
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.close-age, .close-coup {
  top: -.8em;
  width: 1.3em;
  position: absolute;
  right: -.8em;
  height: 1.3em;
  background: #333333;
  color: #ffffff;
  border-radius: 50%;
  line-height: 1em;
  font-size: 2em;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
}

.age-options {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.age-title {
  background: #f0f0f0;
  margin: 0;
  padding: .5em;
  font-size: 2em;
}

.age-range {
  max-width: 50%;
  background: #ffba00;
  margin: .5em auto;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: .2em 0;
  border-radius: .2em;
  cursor: pointer;
}

.age-range:hover {
  background: #fac637;
}

.overflow-hidden {
  overflow: hidden;
}

.age-options.mobile {
  max-width: unset;
  width: 90%;
  font-size: 25px;
}

.fixed-banner {
  bottom: -215px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  left: 0;
}

@media screen and (max-width: 991px) {
  .fact-desc {
    width: 100%;
  }
  div[class^="col"] {
    padding: 0;
  }
  .close-age, .close-coup {
    top: -.5em;
    width: 1em;
    right: -.2em;
    height: 1em;
    line-height: .7em;
    font-size: 1.8em;
  }

}

h1:first-of-type {
  margin-top: 0;
}

/********* SKINS *********/

body.skin1 hr {
  background-color: #ffba00;
}

body.skin1 .orange {
  color: #ffba00;
}

body.skin1 .fact-desc {
  border-left: 4px solid #ffba00;
}

body.skin1 .bordered {
  border: 2px solid #ffba00;
}

body.skin1 .comments-header {
  border-bottom: 2px solid #ffba00;
}

body.skin1 button, button {
  background-image: linear-gradient(#333333, #333333);
  border-bottom: 4px solid #333333;
}

body.skin1 .close-age, body.skin1 .close-coup {
  background: #ffb900;
}

body.skin1 .age-range {
  background: #ffba00;
}

body.skin1 .age-range:hover {
  background: #fac637;
}

body.skin2 hr {
  background-color: #0f9be7;
}

body.skin2 .orange {
  color: #0f9be7;
}

body.skin2 .fact-desc {
  border-left: 4px solid #0f9be7;
}

body.skin2 .bordered {
  border: 2px solid #0f9be7;
}

body.skin2 .comments-header {
  border-bottom: 2px solid #0f9be7;
}

body.skin2 button {
  background-image: linear-gradient(#36b7fb, #129ce8);
  border-bottom: 4px solid #0e7fbc;
}

body.skin2 .close-age, body.skin2 .close-coup {
  background: #0f9be7;
}

body.skin2 .age-range {
  background: #0f9be7;
}

body.skin2 .age-range:hover {
  background: #31a8ea;
}

body.skin3 hr {
  background-color: #9f53c9;
}

body.skin3 .orange {
  color: #9f53c9;
}

body.skin3 .fact-desc {
  border-left: 4px solid #9f53c9;
}

body.skin3 .bordered {
  border: 2px solid #9f53c9;
}

body.skin3 .comments-header {
  border-bottom: 2px solid #9f53c9;
}

body.skin3 button {
  background-image: linear-gradient(#c567f9, #9f53ca);
  border-bottom: 4px solid #7e419f;
}

body.skin3 .close-age, body.skin3 .close-coup {
  background: #9f53c9;
}

body.skin3 .age-range {
  background: #9f53c9;
}

body.skin3 .age-range:hover {
  background: #ac66d3;
}

body.skin4 hr {
  background-color: #fe2a0d;
}

body.skin4 .orange {
  color: #fe2a0d;
}

body.skin4 .fact-desc {
  border-left: 4px solid #fe2a0d;
}

body.skin4 .bordered {
  border: 2px solid #fe2a0d;
}

body.skin4 .comments-header {
  border-bottom: 2px solid #fe2a0d;
}

body.skin4 button {
  background-image: linear-gradient(#ff6052, #fe2a0d);
  border-bottom: 4px solid #c51e07;
}

body.skin4 .close-age, body.skin4 .close-coup {
  background: #fe2a0d;
}

body.skin4 .age-range {
  background: #fe2a0d;
}

body.skin4 .age-range:hover {
  background: #f04028;
}


/*Skin5 & Skin6*/

body.skin5 button, body.skin6 button {
  background-image: linear-gradient(#ffb900, #ffb900);
  border-bottom: 4px solid #ffb900;
}


/*Skin7*/

body.skin7{
  background: #000090;
}

body.skin7 a {
  color: #FFFF00;
}

body.skin7 hr {
  background-color: #FFFF00;
}

body.skin7 .orange {
  color: #FFFF00;
}

body.skin7 .red {
  color: #FFFF00;
}

body.skin7 header{
  background: #000090;
  box-shadow: 0 2px 2px #ffffff;
}

body.skin7 .sidebar-right {
  background: #000090;
  color: #ffffff;
}

body.skin7 .main-content {
  background: #000090;
  color: #ffffff;
}

body.skin7 .fact-desc {
  border-left: 4px solid #FFFF00;
}

body.skin7 .bordered {
  border: 2px solid #FFFF00;
}

body.skin7 .comments-header {
  border-bottom: 2px solid #FFFF00;
}

body.skin7 button {
  background-image: linear-gradient(#ffff66, #FFFF00);
  border-bottom: 4px solid #FFFF00;
  color: #000000;
}

body.skin7 .close-age, body.skin7 .close-coup {
  background: #FFFF00;
  color: #000000;
}

body.skin7 .age-range {
  background: #FFFF00;
}

body.skin7 .age-range:hover {
  background: #FFFF00;
}

body.skin7 .bottom-coup .product-image {
  max-width: 27%;
}

.bottom-coup a {
  display: inline-block;
}

.bottom-coup .product-image {
  position: absolute;
  max-width: 30%;
  left: 4%;
  max-height: 80%;
  bottom: 5%;
}

.bottom-coup {
  position: relative;
}

.bottom-coup.sticky {
  position: sticky;
  bottom: 0;
}

.relative {
  position: relative !important;
}

.close-coup {
  display: none;
}

.bottom-coup.center.sticky .close-coup {
  display: block;
}

.bottom-coup.center.sticky.relative .close-coup {
  display: none;
}

/*Notification Pop-up*/

.notification-popup{
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.notification-popup img{
  width: 100%;
  height: auto;
}

.noMobile {
  display: block !important;
}

.noDesktop {
  display: none !important;
}

.fadeInRight-spop {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fadeOutRight-spop {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

@media only screen and (max-width: 991px) {
  .noMobile {
    display: none !important;
  }

  .noDesktop {
    display: block !important;
  }
}

@media only screen and (max-width: 1100px) {
  .notification-popup{
    width: 25vw;
  }
}

@media only screen and (min-width: 1101px) {
  .notification-popup{
    width: 27vw;
  }
}

@media only screen and (min-width: 1200px) {
  .notification-popup{
    width: 30vw;
  }
}


/*Memorial Day Sticky*/

body.stickym .sticky-message, body.stickyk .sticky-message{
  /*border-bottom: 2px solid rgb(178,0,0) !important;*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) repeat, url(../images/sticky-bg-memorial-day.png) center center;
  background-size: contain;
  width: 100%;
  height: auto;
  z-index: 999999999;
  text-align: center;
  padding: 10px 5px !important;
  line-height: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}

body.stickym #sticky-timer, body.stickyk #sticky-timer{
  color: #FF0000 !important;
  background: black !important;
  padding: 5px 10px 5px 8px !important;
}

@media only screen and (max-width: 420px) {
  body.stickym #sticky-timer, body.stickyk #sticky-timer{
   display: block !important;
    margin-top: 5px;
  }
}


/*Canada Day Sticky*/

body.stickyj .sticky-message{
  width: 100%;
  z-index: 999999999;
  text-align: center;
  background-color: #FF0000 !important;
  padding: 15px 10px 10px 10px !important;
  line-height: 1;
  border-bottom: 1px solid #000000 !important;
}

body.stickyj #sticky-timer {
  color: #000000 !important;
}

/*Memorial Day Coupons*/

body.serexin .coupon2 {
  position: absolute;
  max-width: 13%;
  left: 5%;
  max-height: 80%;
  bottom: 34px;
}

body.serexin .coupon3 {
  max-height: 90%;
}

@media only screen and (max-width: 480px) {
  body.serexin .coupon2 {
    bottom: 20px !important;
  }

  body.serexin .coupon3 {
    max-height: 85%;
  }

  .heading-border-50, .heading-border-75{
    width: 90% !important;
  }

}

@media only screen and (max-width: 580px) {
  body.serexin .coupon2 {
    max-width: 12%;
  }

  .heading-border-50, .heading-border-75{
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  body.serexin .coupon2 {
    bottom: 30px;
  }
}

/*Toggle Button*/

.dark-mode {
  background: #161616 !important;
  color: white !important;
}

.border-white{
  border: 2px solid white;
}

#app-cover .row {
  display: table-row;
  float: right !important;
}

#app-cover {
  position: fixed;
  display: table;
  width: 100%;
  margin: 16px auto;
  counter-reset: button-counter;
  z-index: 2;
}

#app-cover.row {
  display: table-row;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 145px;
  height: 60px;
  box-sizing: border-box;
}

.button-cover {
  height: 20px;
  margin: 20px;
  background-color: transparent;
  border-radius: 4px;
}

.button-cover:before {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover, .knobs, .layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 70px;
  height: 31px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r, .button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #000000;
  transition: 0.3s ease all;
  z-index: 1;
}

.lightmode-text{
  font-size: 6px;
  font-family: 'Lato', sans-serif;
  padding-left: 4px;
  padding-top: 3px;
  display: block;
  text-align: left;
  color: black !important;
  font-weight: bold;
}

.darkmode-text{
  font-size: 6px;
  font-family: 'Lato', sans-serif;
  padding-right: 4px;
  padding-top: 3px;
  display: block;
  text-align: right;
  color: white !important;
  font-weight: bold;
}

/* Button 1 */
#button-1 .knobs:before {
  content: url("../images/darkmode-20.png");
  position: absolute;
  top: 4px;
  left: 3px;
  width: 8px;
  height: 6px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 3px 22px 22px 2px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: url("../images/lightmode-20.png");
  left: 44px;
  background-color: #161616;
}

.button .checkbox:checked {
  border: 2px solid #000000 !important;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #ffffff;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer {
  transition: 0.3s ease all;
}

@media only screen and (max-width: 768px) {
  #app-cover {
    position: relative;
    margin: 0 auto;
  }

  .main-header{
    padding: 16px 8px;
  }
}
